
body{
    background-color: white;
    /* Font */
    font-family: 'IBM Plex Sans', sans-serif;
}
footer{
    background-color: #757B63;
    color: #F8F9FA;
}
.navbar{
    background-color: #F8F9FA;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}
