html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1rem = 10 px */
}
.titulo {
    text-align: center;
    color: rosybrown;
    text-transform: uppercase;
}
.positionblogin {
    display: flex;
    justify-content: space-between;
}